{{ ansible_managed | comment }}
[Unit]
Description=web server for menupass adversary
After=network.target

[Service]
Type=simple
ExecStart=python3 -m http.server -d /tmp/menupass 80
Restart=always
RestartSec=10
User=root
Group=nogroup

[Install]
WantedBy=multi-user.target
