{{ ansible_managed | comment }}
[Unit]
Description=web server for menupass adversary
After=network.target

[Service]
Type=simple
ExecStart=python3 -m http.server 80
WorkingDirectory=/tmp/menupass
Restart=always
RestartSec=10
StandardOutput=syslog
SyslogIdentifier=menupass_webserver
User=root
Group=nogroup
PrivateTmp=true

[Install]
WantedBy=multi-user.target
